{% extends "base.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<br>
<br>
    <h3 class="text-center">Chat History for {{ user.username.capitalize() }}</h3>
    <br>
    {% if messages != "No history found" %}
        <table class="table table-light table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Prompt</th>
                    <th scope="col">Response</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for message in messages %}
                    <tr>
                        <td>{{ message.date }}</td>
                        <td>{{ message.prompt }}</td>
                        <td class="w-50">{{ message.response }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h5>{{ messages }}</h5>
    {% endif %}
{% endblock %}
