{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    {% if message != "No history found" %}
        <table class="table">
            <thead>
                <tr>
                    <th class="text-start">Chat History</th>
                </tr>
            </thead>
	    <tbody>
                {% for chats in message  %}
                    <tr>
                        <td class="text-start"> {{ chats }} </td>
                   </tr>
                {% endfor %}
	    </tbody>
	</table>
    {% else %}
	<p>{{ message }} </p>
    {% endif %}

{% endblock %}
