{% extends "base.html" %}

{% block title %}
    Image Search
{% endblock %}

{% block main %}
<br>
<br>
<div class="container d-flex justify-content-center">
  <form action="/image" method="POST" class="w-100">
    <div class="row">
      <div class="col-sm-8 col-md-6">
        <input type="text" class="form-control" name="prompt" placeholder="Search Images">
      </div>
      <div class="col-sm-4 col-md-2">
        <button class="btn btn-primary btn-block" type="submit">Search</button>
      </div>
    </div>
  </form>
</div>

<br>
<br>
{% if photo_urls %}
  <div class="row">
  {% for photo_url in photo_urls %}
	<div class="col-sm-3 mb-4">
	  <a href="{{ phto_url }}" download="photo.jpg">
          <img src="{{ photo_url }}" alt="Photo" class="img-fluid" width="300" height="200"></a>
        </div>
  {% endfor %}
  </div>
{% endif %}

{% endblock %}
