{% extends "layout.html" %}

{% block title %}
    Image Search
{% endblock %}

{% block main %}
<div class="container d-flex justify-content-center">
  <form action="/video" method="POST" class="w-100">
    <div class="row">
      <div class="col-sm-8 col-md-6">
        <input type="text" class="form-control" name="prompt" placeholder="Search Images">
      </div>
      <div class="col-sm-4 col-md-2">
        <button class="btn btn-primary btn-block" type="submit">Search</button>
      </div>
    </div>
  </form>
</div>

<br>
<br>
{% if photo_urls %}
  {% for photo_url in photo_urls %}
    <div>
      <a href="{{ photo_url }}" download="photo.jpg">
        <img src="{{ photo_url }}" alt="Photo" class="generatedimages img-fluid mx-auto d-block">
	<br>
        <button class="btn btn-primary btn-lg btn-block mx-auto d-block">Save</button>
	<br>
        <br>
	<br>
      </a>
    </div>
  {% endfor %}
{% endif %}

{% endblock %}
