<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Botmate - Register</title>

        <!-- CSS -->
        <link rel="stylesheet" href="../static/assets/css/register.css">
                
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
	<link href="../static/assets/img/log.png" rel="icon">
                        
    </head>
    <body>
        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>Signup</header>
                    <form action="/register" method="post">
			<div class="field input-field">
				<input autocomplete="off" autofocus type="email" placeholder="Email" class="input" name="email">
			</div>
                        <div class="field input-field">
                            <input autocomplete="off" autofocus type="text" placeholder="Username" class="input" name="username">
                        </div>

                        <div class="field input-field">
                            <input autocomplete="off" autofocus type="password" placeholder="Create password" id="password" class="password" name="password">
			    <i class='bx bx-hide eye-icon'></i>
                        </div>
			<div class="password-requirements-container">
      			  <ul class="password-requirements">
        		    <li class="length">At least 8 characters</li>
        		    <li class="lowercase">At least one lowercase letter</li>
        		    <li class="uppercase">At least one uppercase letter</li>
        		    <li class="number">At least one number</li>
        		    <li class="special">At least one special character</li>
      			  </ul>
    		        </div>
                        <div class="field input-field">
                            <input autocomplete="off" autofocus type="password" id="confirm-password" placeholder="Confirm password" class="password" name="confirmation">
                            <i class='bx bx-hide eye-icon'></i>
                        </div>
			<span id="password-mismatch" style="display:none; color:red;">Password doesn't match</span><br>

                        <div class="field button-field">
                            <button type="submit">Signup</button>
                        </div>
                    </form>
		    <div class="form-link">
                        <span>Already have an account? <a href="/login" class="link login-link">Login</a></span>
                    </div>
		</div>
            </div>
        </section>

        <!-- JavaScript -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="../static/assets/js/register.js"></script>

    </body>
</html>

