{% extends "base.html" %}

{% block title %}
    Video Search
{% endblock %}

{% block main %}
<br>
<br>
<div class="container d-flex justify-content-center">
  <form action="/video" method="POST" class="w-100">
    <div class="row">
      <div class="col-sm-8 col-md-6">
        <input type="text" class="form-control" name="query" placeholder="Search Videos">
      </div>
      <div class="col-sm-4 col-md-2">
        <button class="btn btn-primary btn-block" type="submit">Search</button>
      </div>
    </div>
  </form>
</div>

<br>
<br>
{% if videos %}
    <div class="row">
      {% for video in videos %}
        <div class="video-container col-md-6 mb-4">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.id.videoId }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
      {% endfor %}
    </div>
{% endif %}

{% endblock %}
