body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Size for brand */
nav .navbar-brand {
  font-size: xx-large;
  }
nav .navbar-brand .blue {
  color: #537fbe;
  }
nav .navbar-brand .red {
  color: #ea433b;
  }
nav .navbar-brand .yellow {
  color: #f5b82e;
  }
nav .navbar-brand .green {
  color: #2e944b;
  }

#chat-input {
  border-radius: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
} 
#bot-button {
  border-radius: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  }
.generatedimages {
  width: 70%;
  height: 70%;
  object-fit: cover;
  }
